.last-news {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	gap: 15px;
	margin-bottom: 20px;
	text-decoration: none;
}

.last-news__img {
	width: 250px;
	height: 150px;
	border-radius: 6px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
	object-fit: cover;
}

.last-news__content {
	color: #333;
	text-decoration: none;
}

.last-news__content h1 {
	font-size: 18px;
	text-decoration: none;
	font-weight: bold;
}

.last-news__content h2 {
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 10px;
	text-align: justify;
	text-decoration: none;
}

.last-news__infos {
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.last-news__infos img {
	width: 22px;
	height: 22px;
	object-fit: cover;
	margin-right: 5px;
}

.last-news__infos p {
	font-weight: lighter;
	font-size: 14px;
	text-decoration: none;
}

.last-news__infos p span {
	font-weight: bold;
}

@media (max-width: 553px) {
	.last-news__img {width: 150px;}
}

@media (max-width: 453px) {
	.last-news {flex-direction: column;}
	.last-news__img {width: 100%;}
}