.main {
	width: 100%;
	height: auto;
	background-image: url('../../imgs/BG1.png');
	background-size: cover;
	margin-bottom: 100px;
	max-height: 587px;
}

.main__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 150px 0 150px 100px;
}

.main__infos {
	max-width: 580px;
}

.main__title {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.main__title h1 {
	font-size: 50px;
	color: #fff;
	margin-right: 20px;
}

.main__title img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.main__infos h2 {
	font-size: 30px;
	color: #fff;
	font-weight: lighter;
}

.main__infos h2 span {
	font-weight: bold;
}

.main__btns {
	display: flex;
	align-items: center;
	gap: 15px;
	background: #fff;
	color: #333;
	padding: 15px 20px;
	border-radius: 6px 0 0 6px;
}

.main__btns a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	transition: background 0.3s ease-in-out;
}

.main__btns a.settings {background: #b3b3b3;}
.main__btns a.settings:hover {background: #878787;}

.main__btns a.profil {background: #3ed3be;}
.main__btns a.profil:hover {background: #268b7c;}

@media (max-width: 902px) {
	.main__btns {margin-top: 30px;border-radius: 6px;}
	.main__content {
		flex-wrap: wrap;
		padding: 100px;
		justify-content: center;
	}
}

@media (max-width: 741px) {
	.main__infos h2 {font-size: 24px;}
}

@media (max-width: 633px) {
	.main__content {text-align: center;}
}

@media (max-width: 537px) {
	.main__content {padding: 50px;}
}

@media (max-width: 438px) {
	.main__content {padding: 25px;}
}

@media (max-width: 409px) {
	.main__title img {width: 40px;height: 40px;}
	.main__title h1 {font-size: 30px;}
	.main__infos h2 {font-size: 18px;text-align: justify;}
}